<html lang="en">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>This is Gagan-Tech Enthusiast who had made this simple project while learning full satck web development.Hope u like this!!!</p>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>